* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family:'Roboto', sans-serif;
    box-sizing: border-box;
}


.grid{
    width: 1400px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    /* margin-left: -5px;
    margin-right: -5px; */
}


.grid-column2 {
    width: 16.6667%;
    background-color: #fff;
    color: #fff;
    /* margin-left: 5px;
    margin-right: 5px; */
}

.grid-column10 {
    width: 83.3334%;
    background-color: #ccc;
    /* margin-left: 5px;
    margin-right: 5px; */
}